.header {
  padding-top: 12px;
  padding-bottom: 13px;
  box-shadow: 0px 3px 10px rgba(0, 73, 129, 0.1);
  background-color: #fff;
}

.container {
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.header__logo {
  align-items: center;
  align-content: center;
}

.header__logo__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;

  img {
    width: 50px;
    position: absolute;

  }
}

.header__logo__right {
  margin-left: 15px;
}

.header__logo__name {
  color: #192229;
  font-size: 16px;
  display: block;
  margin-bottom: 3px;
}

.header__logo__inst {
  color: #6A7B83;
  font-size: 14px;
  display: block;
}

.header__nav__ul {
  justify-content: center;
  align-items: center;

  li {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    color: #6A7B83;
    font-size: 16px;
    display: flex;
    align-items: center;
    align-content: center;

    span {
      width: 18px;
      height: 18px;
      background-color: #B4BDC1;
      border-radius: 50%;
      text-align: center;
      line-height: 20px;
      margin-left: 5px;
      color: #fff;
      font-size: 12px;
    }
  }
}


.hamburger__button {
  display: none;
}

.nav__mob__title {
  display: none;
}

.nav__overlay {
  display: none;
}


@media screen and (max-width: 1023px) {
  .hamburger__button {
    display: block;
    width: 36px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #DEE2E6;
    box-sizing: border-box;
    border-radius: 3px;
    position: relative;

    span {
      position: absolute;
      width: 24px;
      height: 2px;
      background-color: #6A7B83;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      &:nth-child(1) {
        top: 10px;
      }
      &:nth-child(2) {
        top: 17px;
      }
      &:nth-child(3) {
        top: 24px;
      }
    }
  }

  .header__nav__container {
    position: fixed;
    left: -285px;
    top: 0;
    bottom: 0;
    width: 285px;
    background-color: #fff;
    opacity: 0;
    padding: 0;
    z-index: -10;
    transition: .5s;
  }
  .header__nav__ul {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

    li {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  .nav__mob__title {
    height: 54px;
    align-items: center;
    align-content: center;
    color: #192229;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 50px;
    border-bottom: 1px solid #E4EFF4;
    padding-top: 4px;
    display: flex;
  }
  .vav__close {
    position: absolute;
    top: 13px;
    right: 13px;
    height: 28px;
    width: 28px;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 18px;
      height: 18px;
      transform: translateX(-50%) translateY(-50%);
    }
  }
  .nav__overlay {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 285px;
    width: 100vw;
    background-color: rgba(0, 0, 0, .5);
  }

  .openedNav {
    z-index: 30;
    left: 0;
    opacity: 1;
  }
}


@media screen and (max-width: 480px) {
  .header__logo__name {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 2px;
  }
  .header__logo__inst {
    font-size: 12px;
    line-height: 14px;
  }
}